{
  "extends": "airbnb",
  "root": true,
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "__dirname": true
  },
  "rules": {
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "no-use-before-define": 0,
    "space-before-function-paren": 0,
    "func-names": 0,
    "strict": 0
  }
}
