/***************************
OFFICE CONTAINERS
***************************/

#editor1 {
  padding: 0 !important;
}

#chat {
  padding: 0 !important;
}

#office-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif !important;
}

#office-grid {
  height: 100%;
}

/* .office-column-left {
  margin-left: 10px;
  padding-right: 0;
} */

.editor-container {
  height: 95%;
  margin-bottom: 10px;
  border: 1px solid #39464e;
  display: flex;
  flex-direction: column;
}

.Video-container {
  border: 1px solid black;
}

#chat-master-container {
  height: 100%;
  margin: 0;
  padding: 5px;
}

.chat-container {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

#chat-container-inner {
  padding: 0;
  margin: 0;
  display: flex;
  background: #f9f9f9;
}

/***************************
Code Editor - Flexbox
***************************/

.editor-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#editor {
  flex: 2;
  display: flex;
  flex-direction: column;
}

#editor-option-btn {
  /* display: none; */
  position: absolute;
  height: 32px;
  top: -3px;
  left: 25px;
  font-size: 25px;
  cursor: pointer;
}

#editor-option-btn:hover {
  font-weight: 800;
}

.CodeMirror {
  flex: 1 1 auto;
  /* font-size: 36px; */
}

#editor-button-container {
  margin: 10px 0 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-sm {
  font-size: 16px;
  width: 100px;
  margin-right: 10px;
}

#solution {
  color: black;
  background-color: white;
  border-top: 1px solid black;
  padding: 25px;
  flex: 1 0;
  margin-bottom: 0;
  list-style-type: none;
  overflow: auto;
}

.sidenav {
  /* border: 1px solid black; */
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-top: 70px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 24px;
  margin-left: 50px;
}

.CodeMirror-gutter.CodeMirror-linenumbers {
  margin-left: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.editor-options {
  display: block;
  font-size: 12px;
}

label.editor-options {
  display: block;
  margin-bottom: 5px;
  color: #39464e;
}

select.editor-options {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* appearance: none; */
  box-shadow: 0;
  border: 1px solid gray;
  background-color: white;
  border-radius: 3px;
  height: 35px;
  width: 250px;
  margin-bottom: 35px;
  padding-left: 15px;
}

#mySidenav {
  display: flex;
  flex-direction: column;
}

#options-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border-radius: 5px !important;
  font-size: 12px !important;
}

/***************************
CHATAPP LOGIN
***************************/

.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-form input {
  max-width: 100%;
  border: none;
  height: 40px;
  line-height: 20px;
  font-size: 18px;
  transition: all 0.23s ease-in;
  color: black;
  box-shadow: 0px -5px 20px 0px rgba(150, 165, 190, 0.2);
}

.login-form input:focus {
  /* box-shadow: 0px 0px 5px 0px rgba(150, 165, 190, 0.2); */
  animation: 1.5s ease-out 0s show;
}

.login-form input::placeholder {
  color: #808080;
  font-weight: lighter;
  font-size: 14px;
}

.login-form input:focus .login-form .error {
  text-align: center;
  margin: 5px 0;
  padding: 5px 10px;
  color: #c92c43;
}

/***************************
CHATAPP SIDEBAR
***************************/

.btn-toolbar {
  margin: 10px 0 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.dropdown-menu {
  /* min-width: 100% !important; */
  /* min-height: 776px !important; */
}

/* .dropbtn {
  border: none;
  background-repeat: no-repeat;
  padding: 20px;
  border: none;
}

.dropbtn::after {
  border: none;
  background-repeat: no-repeat;
  padding: 20px;
  border: none;
}

.dropup {
  position: relative;
  display: -block;
  padding-left: 18px;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  bottom: 50px;
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {
  background-color: #ccc;
}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #3e8e41;
} */

/* .dropup-img {
  background: url('./../components/ChatApp/assets/dropup_button.png');
  background-position: -9px -7px;
  background-repeat: no-repeat;
  background-size: 39px 43px;
  $enable-caret: false !default;
}
.dropup {
  background: url('./../components/ChatApp/assets/dropup_button.png');
  background-position: -9px -7px;
  background-repeat: no-repeat;
  background-size: 39px 43px;
} */

#side-bar {
  font-size: 0.8em;
  box-sizing: border-box;
  min-height: 863px;
  min-width: 448px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: #f9f9f9;
  /* background: #5b8cf7; */
}

#side-bar .heading {
  box-sizing: border-box;
  height: 12vh;
  max-height: 65px;
  padding: 18px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  border-top-left-radius: 5px;
}

#side-bar .search {
  background: #f9f9f9;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 20px;
  height: 10vh;
  max-height: 65px;
}

#side-bar .search .search-icon {
  margin-right: 15px;
  cursor: pointer;
}

#side-bar .search input {
  width: 100%;
  background: white;
  flex-grow: 1;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  color: black;
  font-size: 15px;
  height: 35px;
}

#side-bar .search input:focus {
  outline: none;
}

#side-bar .search input::placeholder {
  color: black;
  opacity: 0.6;
}

#side-bar .search .plus {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 13px;
  height: 13px;
}

#side-bar .search .plus::after,
#side-bar .search .plus::before {
  content: '';
  position: absolute;
  background: yellow;
}

#side-bar .search .plus::after {
  width: 16px;
  height: 2px;
  top: 5px;
}

#side-bar .search .plus::before {
  width: 2px;
  height: 16px;
  top: -2px;
  left: 7px;
}

#side-bar .users {
  overflow-y: scroll;
  background: #f9f9f9;
  flex-grow: 1;
}

#side-bar .users .user {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: flex-start;
  color: #141414;
}

#side-bar .users .user.active,
#side-bar .users .user:hover {
  color: white;
  animation: 1.5s ease-out 0s show;
  background: #2c8fe8;
  z-index: 1000;
}

#side-bar .users .user:hover:not(.active) {
  cursor: pointer;
}

#side-bar .users .user .user-info {
  margin-left: 15px;
  flex-grow: 1;
}

#side-bar .logged-in-as {
  font-size: 14px;
  /* background: white; */
  color: black;
  padding-left: 13px;
}

#side-bar .users .user .user-info .name {
  font-size: 15px;
  font-weight: 300;
}

#side-bar .users .user .user-info .name:hover {
  font-weight: 400;
}

#side-bar .users .user .user-info .last-message {
  display: none;
  font-size: 12px;
  opacity: 0.56;
}

#side-bar .users .user .new-message {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#side-bar .current-user {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 10vh;
  max-height: 45px;
  justify-content: space-between;
  padding-left: 13px;
  padding-right: 5px;
  color: black;
  /* background: white; */
  line-height: 20px;
  font-size: 15px;
  font-weight: 300;
}

#side-bar .current-user .logout {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px;
}

#side-bar .chatApp-logo > img {
  height: 35px;
  vertical-align: middle;
  font-size: 14px;
}

#side-bar .chat-rooms {
  color: black;
  padding-left: 13px;
  font-size: 14px;
}

#side-bar .side-bar-select {
  width: 100%;
}

.side-bar-select__option {
  height: 40px;
  background: white;
  width: 50%;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: black;
}

.side-bar-select__option span {
  font-size: 15px;
  font-weight: 300;
  position: relative;
  top: 9;
}

.side-bar-select__option.active {
  background: white;
  width: 50%;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  box-shadow: 0px 0px 5px 2px rgba(187, 219, 254, 0.75);
  animation: 1.5s ease-out 0s show;
  z-index: 100;
}

/***************************
CHATAPP HEADER
***************************/

.chat-header {
  background: white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  max-height: 65px;
  padding: 18px 16px;
  border-top-right-radius: 5px;
  border: 0.5px solid #e8e8e8;
  border-left: none;
  font-size: 18px;
  font-weight: bold;
}

.chat-header .user-info {
  align-items: center;
  display: flex;
}

.chat-header .user-info .user-name {
  margin-right: 10px;
  color: #333333;
  font-size: 15px;
}

.chat-header .user-info .status {
  align-items: center;
  display: flex;
}

.chat-header .options {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 15%;
}

.chat-header .options svg {
  cursor: pointer;
}

.chat-room-container {
  height: 95%;
  width: 100%;
  background: white;
  border-bottom: 1px solid black;
}

/* @media screen and (max-width: 510px) {
  #side-bar {
    position: absolute;
    left: -100%;
  }
  .chat-room-container {
    width: 100%;
  }
} */

/***************************
CHATAPP ROOM
***************************/

.chat-room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 93%;
  width: 100%;
}

.chat-room.choose {
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

/***************************
CHATAPP THREAD
***************************/

.thread-container {
  flex-grow: 1;
  overflow-y: scroll;
  position: relative;
}

.thread-container .thread {
  position: relative;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #b3b2ca;
  background: white;
  border-right: 0.5px solid #e8e8e8;
  border-bottom: none;
  overflow: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/***************************
CHATAPP MESSAGE
***************************/

.message-container {
  display: flex;
  justify-content: flex-start;
  min-height: 50px;
  margin: 0px 10px;
  animation: 0.65s ease-out 0s show;
}

.message-container .time {
  display: none;
}

.message-container .data {
  order: 2;
  margin: 10px 0 10px 0;
}

.message-container .name {
  margin-top: 2px;
  text-align: left;
  font-size: 11px;
  margin-left: 10px;
}

.message-container .message {
  background: #f5f7f9;
  border-radius: 15px;
  box-sizing: border-box;
  color: black;
  padding: 7px 15px;
  position: relative;
  font-size: 0.62em;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.message-container.right {
  text-align: right;
  justify-content: flex-end;
}

.message-container.right .time {
  display: none;
}

.message-container.right .data {
  margin-left: 0;
  order: 1;
}

.message-container.right .name {
  display: none;
}

.message-container.right .message {
  background: #5b8cf7;
  color: #fff;
  font-size: 12px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  white-space: -webkit-pre-wrap;
  white-space: normal;
}

.message-container.right .message::before {
  border-top-color: #5b8cf7;
  border-left-color: #5b8cf7;
  border-right-color: transparent;
  left: auto;
  right: -7px;
}

.typing-user {
  text-align: right;
  margin: 10px 15px;
  font-size: 12px;
}

.message-input {
  background: white;
  color: #484d79;
  box-sizing: border-box;
  height: 10vh;
  max-height: 65px;
  padding: 20px;
}

.message-input .message-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.message-input .message-form .form-control {
  padding-top: 24px;
  padding-bottom: 24px;
  resize: none;
  padding-left: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  align-self: center;
  border: none;
  border-top: 0.5px solid #e8e8e8;
  border-right: 0.5px solid #e8e8e8;
  color: black;
}

.message-input .message-form .form-control:focus {
  box-shadow: none;
  background-color: white;
  box-shadow: 0px -5px 20px 0px rgba(150, 165, 190, 0.2);
  animation: 1.5s ease-out 0s show;
  z-index: 100;
}

::placeholder {
  color: #cccdd0;
  opacity: 1;
}

.message-input .message-form .form-control:focus {
  outline: none;
}

.message-input .message-form .send {
  display: none;
  width: 20%;
  box-sizing: border-box;
  font-size: 0.65em;
  text-align: center;
  border: none;
  height: 100%;
  color: #fff;
  background: #3e3e5e;
  transition: all 0.35s ease-out;
}

.message-form input {
  font-size: 0.62em;
}

.message-input .message-form .send:disabled {
  display: none;
}

/***************************
VIDEO CHAT
***************************/

/* entire container, keeps perspective */
.video-container {
  perspective: 1000px;
  position: absolute;
  z-index: 500;
}
	/* flip the pane when hovered */
	.video-container:hover .flipper, .video-container.hover .flipper {
		transform: rotateY(180deg);
	}

.video-container, .front, .back {
	width: 250px;
  height: 200px;
  background-color: white;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
  transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
